<div class="sidebar bg-light">
    <div class="pt-2 h-100">
        <ProfilePicture>
            <img class="img-fluid rounded-circle" src="images/profilePicture.jpg" />
        </ProfilePicture>

        <div class="menu list-group list-group-flush pt-5">
            <AuthorizeView>
                <Authorized>

                    <NavLink class="list-group-item list-group-item-action bg-light" href="/employeeoverview">
                        Employees
                    </NavLink>
                    <NavLink class="list-group-item list-group-item-action bg-light" href="/employeeadd">
                        Add employee
                    </NavLink>

                    <NavLink class="list-group-item list-group-item-action bg-light" href="Account/Manage">
                        Manage account
                    </NavLink>

                    <form class="list-group-item list-group-item-action bg-light" action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="btn btn-outline-primary btn-sm mt-3" style="width: 100%;">
                            Logout
                        </button>
                    </form>

                </Authorized>
                <NotAuthorized>

                    <NavLink class="btn btn-outline-primary btn-sm mt-3" href="Account/Register">
                        Register
                    </NavLink>

                    <NavLink href="Account/Login" class="btn btn-outline-primary btn-sm mt-3">
                        Login
                    </NavLink>

                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</div>