@page "/employeeoverview"

@rendermode InteractiveServer

<PageTitle>@Title</PageTitle>

<h1>Employee Overview</h1>

@if (Employees == null)
{
    <p><em>Loading...</em></p>
    return;
}

<div class="row">
    <QuickViewPopup Employee="_selectedEmployee"></QuickViewPopup>
    @foreach (var employee in Employees)
    {
        <ErrorBoundary>
            <ChildContent>
                <div class="col-6 col-lg-4 col-xl-3 col-xxl-3">
                    <EmployeeCard Employee="employee" EmployeeQuickViewClicked="ShowQuickViewPopup"></EmployeeCard>
                </div>
            </ChildContent>
            <ErrorContent>
                <p class="errorUI">Invalid employee!</p>
            </ErrorContent>
        </ErrorBoundary>
    }
</div>
